
bcrypt
build
discord.py
diskcache
fastapi
gunicorn==20.1.0
jinja2
langdetect
langfuse>=2.0.0
litellm
loguru
openai
pandas
psycopg2-binary
pydantic_settings
pyjwt
pytest-asyncio
rich
sendgrid
setuptools
tenacity
tiktoken
typer
uvicorn==0.20.0
click==8.0.4
wheel
zxcvbn
